#html {
    font-family: Arial;
    font-size: 14px;
    color: black;
}

.searchBar {
    position: fixed;
    left: 30%;
    top: 40%;
    height: 38px;
    width: 550px;
    border-radius: 25px;
    border-color: silver;
}

.googleLogo {
    position: absolute;
    left: 40%;
    top: 25%;
}

.searchImage {
    position: absolute;
    left: 31%;
    top: 42%;
    width: 18px;
}

.micImage {
    position: absolute;
    width: 15px;
    left: 66%;
    top: 42%;
}

ul {
    list-style-type: none;
    margin: 18px;
    padding: 0;
    display: inline-flex;
    color: #0000;
    font-size: 14px;
    font-family: Arial;
}

.rightSide {
    float: right;
}

ul:hover {
    text-decoration: underline;
}

.tab {
    margin-left: 1.5em;
}