.searchBar {
    position: fixed;
    left: 39%;
    top: 29%;
    height: 38px;
    width: 550px;
    border-radius: 20px;
    border-color: silver;
}

.buttonClass {
    position: absolute;
    top: 33%;
    left: 44%;
}

.googleLogo {
    position: absolute;
    left: 45%;
    top: 20%;
}

.searchImage {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 18px;
}

.micImage {
    position: absolute;
    width: 15px;
    left: 59%;
    top: 30%
}

ul {
    list-style-type: none;
    margin: 17px;
    padding: 0;
    display: inline-flex;
    color: #0000;
    font-size: 14px;
    font-family: Arial;
}

.rightSide {
    float: right;
}

ul:hover {
    text-decoration: underline;
}

.tab {
    margin-left: 1.5em;
}